
body {
    font-family: "Effra", sans-serif;
    font-size: 14px;
    color: $body;

    @include gt-desktop {
        font-size: 18px;
    } 
}

a {
    text-decoration: none;
    color: $highlight;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;

    &:not(:first-child) {
        margin-top: 12px;
    }
}

p {
    line-height: 1.3;

    @include gt-desktop {
        &:first-of-type {
            margin-top: 20px;
        }
    }
}

h1 {
    font-size: 24px;
    font-weight: 700;

    @include gt-desktop {
        font-size: 48px;
    }
}

h2 {
    font-size: 22px;
    font-weight: 700;

    @include gt-desktop {
        font-size: 38px;
    }
}

h3 {
    font-size: 20px;
    font-weight: 500;

    @include gt-desktop {
        font-size: 44px;
    }
}

h4 {
    font-size: 18px;
    font-weight: 700;

    @include gt-desktop {
        font-size: 22px;
    }
}

h5 {
    font-size: 16px;
    font-weight: 700;

    @include gt-desktop {
        font-size: 18px;
    }
}

h6 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: $highlight;

    @include gt-desktop {
        font-size: 15px;
    }
}

strong {
    font-weight: 500 !important;
}

.highlight {
    color: $highlight !important;
}