.CoursesList {
    text-align: center;

    &__ {
        &genre {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 16px;

            @include gt-desktop {
                flex-direction: row;
                justify-content: center;
                margin: 40px auto auto;
                padding: 3px 4px;
                width: fit-content;
                border: 1px solid $highlight;
                border-radius: 25px;
            }

            &Item {
                width: fit-content;
                padding: 10px 30px;
                cursor: pointer;

                &:not(:first-of-type) {
                    margin-top: 5px;
                }

                @include gt-desktop {
                    &:not(:first-of-type) {
                        margin-top: 0px;
                    }
                }

                &-- {
                    &active {
                        color: $white;
                        background-color: $highlight;
                        border-radius: 18px;

                        @include gt-desktop {
                            border-radius: 25px;
                        }
                    }
                }
            }
        }

        &slider {
            margin-top: 30px;
            display: none;

            @include gt-desktop {
                padding: 0 40px;
            }

            &-- {
                &active {
                    display: block;
                }
            }
        }
    }
}