
.CoursesTile {

    &__ {
        &container {
            display: flex;
            flex-direction: column;
            margin: 10px;
            padding: 20px 15px;
            text-align: start;
            background-color: $white;
            height: 310px;

            @include gt-desktop {
                padding: 30px;
                height: 400px;
            }

            &:hover {
                box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.025);
            }
        }

        &genre {
            font-size: 10px;
            font-weight: 500;
            text-transform: uppercase;

            @include gt-desktop {
                font-size: 13px;
            }
        }

        &title {
            height: 110px;
            margin-top: 16px;
            font-weight: 500;

            @include gt-desktop {
                height: 200px;
                font-size: 26px;
            }
        }

        &dates {

            &Title {
                @include gt-desktop {
                    font-size: 14px;
                }
            }

            &Container {
                display: flex;
                flex-wrap: wrap;
            }

            &Date {
                margin: 8px 8px 0 0;
                padding: 5px 14px;
                font-size: 12px;
                font-weight: 500;
                background-color: $backgroung;
                
                @include gt-desktop {
                    font-size: 14px;
                }
            }
        }

        &button {
            margin-top: auto;
        }
    }
}